streamlit
pandas
scikit-learn
pdfplumber
beautifulsoup4
lxml
python-dotenv
keybert
sentence-transformers
langchain
langchain-community
langchain-core
langchain-text-splitters
transformers
torch
faiss-cpu
wikipedia
requests
