streamlit
pdfplumber
beautifulsoup4
lxml
keybert
sentence-transformers==3.0.1
transformers==4.44.2
numpy<2.0
torch>=2.0.0
langchain
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
wikipedia
requests
python-dotenv
